@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{ 
    --blue: rgb(22, 234, 241);
    --text-color-1: rgb(22, 81, 83);
    --text-color-2: rgb(18, 18, 19);
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;  
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
   width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 5rem;
}

body{
    background: var(--bg-color-2);
}

body.active{
    --text-color-1: #fff;
    --text-color-2: #eee;
    --bg-color-1: #333;
    --bg-color-2: #222;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.4);
}

section{
   padding: 2rem 7%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 4rem;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; 
    left: 0;
    z-index: -1;
    background: var(--blue);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}
 
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: rgb(65 80 80);
    border-radius: .5rem;
    cursor: pointer;
} 

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-1);
}

.header .logo i{
    color: var(--blue);
}

.header .search-form{
    background: var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--text-color-1);
    padding: 1rem;
}

.header .search-form label{
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--blue);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    color: #fff;
    background: var(--blue);
}

#search-btn{
    display: none;
}

.header .navbar{
    position: absolute;
    top: 115%; 
    right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active{
    transform: scale(1);
}

.header .navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;
}

.header .navbar a:hover{
    color: var(--blue);
    background: var(--bg-color-2);
    padding-left: 2rem;
}

.header .login-form{
    position: absolute;
    top: 115%; 
    right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .login-form.active{
    transform: scale(1);
}

.header .login-form .inputBox{
    margin-bottom: 1rem;
}

.header .login-form .inputBox span{
    font-size: 1.4rem;
    color: var(--text-color-2);
}

.header .login-form .inputBox input{
    font-size: 1.4rem;
    color: var(--text-color-1);
    border-radius: .5rem;
    padding: 1rem;
    background: var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0;
}

.header .login-form .remember label{
    color: var(--text-color-2);
    font-size: 1.4rem; 
    cursor: pointer;
}

.header .login-form .btn{
    width: 100%;
}

.login-form p{
    padding: .5rem 0;
    font-size: 1.3rem;
    color: #666;
}

.login-form  p a{
    color: var(--blue);
}

.login-form  p a:hover{
    color: #333;
    text-decoration: underline;
}

.header .login-form .btn{
    width: 100%;
}

.home{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   position: relative;
   z-index: 0;
}

.home .content{
   text-align: center;
}

.home .content h3{
   font-size: 4.5rem;
   color: #fff;
   text-transform: uppercase;
   text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video{
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0,0,0,.7);
    position: relative;
    top: 24rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .vid-btn.active{
    background: var(--blue);
}

.packages .box-container{
    display: grid;
    gap: 1.5rem;
}

.packages .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.packages .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image h3{
    position: absolute;
    top: 2.5rem; 
    left: 2.5rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: .5rem;
    font-weight: lighter;
    padding: .5rem 1.5rem;
}

.packages .box-container .box .image h3 i{
    color: var(--blue);
}

.packages .box-container .box .content{
    padding: 1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color-2);
    line-height: 1.7;
} 

.packages .box-container  a{
    font-size: 1.7rem;
    color: var(--blue);
}

.packages .box-container  a:hover{
    color: #333;
    text-decoration: underline;
}


.information .box-container{
    display: grid;
    gap: 1.5rem;
}

.information .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.information .box-container .box .image{
    height: 50rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.information .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.information .box-container .box .content{
    padding: 1.5rem;
    padding-top: 0;
}

.information .box-container .box .content p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color-1);
    line-height: 1.7;
} 

.pricing .box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.pricing .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.pricing .box-container .box h3{
    padding: 1rem;
    background: var(--bg-color-2);
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--text-color-1);
}

.pricing .box-container .box .price{
    padding-top: 2rem;
}

.pricing .box-container .box .price span{
    font-size: 2rem;
    color: var(--text-color-2);
}

.pricing .box-container .box .price .amount{
    font-size: 5rem;
    color: var(--text-color-1);
    font-weight: bolder;
}

.pricing .box-container .box ul{
    padding: .5rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.services .box-container{ 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ; 
    gap: 2rem; 
} 

.services .box-container .box{ 
    background: var(--bg-color-1); 
    border-radius: .5rem; 
    box-shadow: var(--box-shadow); 
    position: relative; 
    padding: 2rem; 
} 

.services .box-container .box span
{ 
    position: absolute; 
    top: 1rem; 
    right: 2rem; 
    color: var(--text-color-2); 
    font-weight: bolder; 
    font-size: 5rem; 
} 

.services .box-container .box i{ 
    height: 6rem; 
    width: 6rem; 
    line-height: 6rem; 
    text-align: center;
    font-size: 2.5rem; 
    color: #fff; 
    background: var(--blue); 
    border-radius: 70%; 
    margin-bottom: .5rem; 
} 
.services .box-container .box h3{ 
    color: var(--text-color-1); 
    font-size: 2.3rem; 
    padding: .7rem 0; 
} 

.services .box-container .box p{ 
    color: var(--text-color-2); 
    font-size: 1.5rem; 
    line-height: 1.8; 
}

.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%; 
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.7);
    padding: 2rem;
}

.gallery .box-container .box:hover .content{
    top: 0;
}

.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--blue);
}

.gallery .box-container .box .content p{
  font-size: 1.5rem; 
 color: var(--blue); 
}

.review .review-slider{
    box-shadow: var(--box-shadow);
}

.review .review-slider .slide{
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}

.review .review-slider .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .review-slider .slide h3{
    font-size: 2.5rem; 
    color: var(--text-color-1);
}

.review .review-slider .slide p{
    font-size: 1.6rem;
    color: var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

.review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i{
    font-size: 2rem;
    color: var(--blue);
}

.swiper-pagination-bullet-active{
    background: var(--blue);
}

.review .review-slider .slide h2{
    font-size: 1.6rem;
    color: var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

.contact form{
   max-width: 70rem;
   margin: 0 auto;
   text-align: center;
}

.contact form .inputBox{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.contact form textarea,
.contact form .inputBox input{
   width: 100%;
   padding:1rem;
   font-size: 1.6rem;
   color: var(--text-color-1);
   margin: .7rem 0;
   background: var(--bg-color-1);
   box-shadow: var(--box-shadow);
   text-transform: none;
   border-radius: .5rem;
}

.contact form textarea{
   height: 20rem;
   resize: none;
}

.contact form .inputBox input{
   width: 49%;
}

.blogs .box-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.5rem;
}

.blogs .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.blogs .box-container .box .image{
     height: 20rem;
     width: 100%;
     overflow: hidden;
     border-radius: .5rem;
     background: var(--bg-color-2);
}

.blogs .box-container .box .image img{
     height: 100%;
     width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content h3{
    font-size: 2rem;
    color: var(--text-color-1);
    line-height: 1.5;
}

.blogs .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid var(--text-color-2);
    margin-top: 2rem;
    padding-top: 1.5rem;
}

.blogs .box-container .box .content .icons a{
     font-size: 1.5rem;
     color: var(--text-color-2);
}

.blogs .box-container .box .content .icons a:hover{
    color: var(--blue);
}

.blogs .box-container .box .content .icons a i{
     padding-right: .5rem; 
     color: var(--blue);
}
 
.blogdetail .box-container{
    display: grid;
    gap: 1.5rem;
}

.blogdetail .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}


.blogdetail .box-container .box .content{
    padding: 1.5rem;
    padding-top: 0;
}

.blogdetail .box-container .box .content p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color-1);
    line-height: 1.7;
} 

.brand-container{
    text-align: center;
  }

.footer{
    background: var(--bg-color-1);
}

.footer .box h4 p{
    font-size: 1.5rem;
    color: var(--text-color-1);
}

.footer .box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 6rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--text-color-1);
    padding: 1rem 0;
}


.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--text-color-2);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--blue);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: var(--text-color-2);
}

.footer .credit span{
    color: var(--blue);
}

 @media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    .header .navbar{
        right: 2rem;
    }

    .header .login-form{
        right: 2rem;
    }

    #search-btn{
        display: inline-block;
    }

.header .search-form{
      position: absolute;
      top: 115%;
      right: 2rem;
      background: var(--bg-color-1);
      border-radius: .5rem;
      width: 90%;
      box-shadow: var(--box-shadow);
      transform: scale(0);
      transform-origin: top right;
    }

    .header .search-form.active{
        transform: scale(1);
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width: 100%;
    }
} 
